**- Demander à l’utilisateur d’entrer une chaine de caractères, puis afficher si cette chaine est un palindrome ou non.**

In [1]:
chaine = input("Enter a string: ")

Enter a string: radar

In [2]:
inverse_chaine = chaine[::-1]
print(inverse_chaine)

radar

In [3]:
if chaine == inverse_chaine:
    print(chaine, "is a palindrom.")
else:
    print(chaine, "is not a palindrom.")

radar is a palindrom.

**- Réécrire le code dans une fonction isPalindrome, qui prend comme paramètre une chaine de caractères et qui retourne un booléen permettant de vérifier si la chaine est un palindrome.**

In [4]:
def is_palindrom(chaine):
    if chaine == chaine[::-1]:
        return True
    return False

In [5]:
is_palindrom("radar")

True

In [6]:
is_palindrom("test")

False

**- Déclarer la liste : a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]. Demander à l’utilisateur d’entrer un entier x.**

**- Créez une nouvelle liste b contenant tous les éléments inférieurs à x de la liste a, puis afficher cette nouvelle liste b.**

**- Afficher la longueur des deux listes a et b.**

**- Afficher les 5 premiers éléments de la liste a, sans utiliser la boucle for.**

**- Ordonner la liste a par ordre croissant, puis l’afficher.**

**- Ordonner la liste b par ordre décroissant, puis l’afficher. Vous pouvez utiliser le paramètre reverse=True.**

In [7]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [8]:
x = int(input("Enter x: "))

Enter x: 15

In [9]:
b = []

for elem in a:
    if elem < x:
        b.append(elem)

print(b)

[1, 1, 2, 3, 5, 8, 13]

In [10]:
# Or using List Comprehension
b = [elem for elem in a if elem < x]
print(b)

[1, 1, 2, 3, 5, 8, 13]

In [11]:
len(a), len(b)

(11, 7)

In [12]:
a[:5]

[1, 1, 2, 3, 5]

In [13]:
a.sort()
print(a)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [14]:
b.sort(reverse=True)
print(b)

[13, 8, 5, 3, 2, 1, 1]

**- Exécuter le code  et dire ce qu’il fait.**

**- Afficher tous les caractères de chaque élément de la liste fruits, sauf le premier et le dernier caractère.**

In [15]:
fruits = ['banana', 'apple', 'strawberry', 'kiwi']
fruits.sort(key=len) 
print(fruits)

['kiwi', 'apple', 'banana', 'strawberry']

In [16]:
fruits = ['banana', 'apple', 'strawberry', 'kiwi']
new_fruits = sorted(fruits, key=len)
print(fruits, new_fruits)

['banana', 'apple', 'strawberry', 'kiwi'] ['kiwi', 'apple', 'banana', 'strawberry']

In [17]:
for fruit in fruits:
    print(fruit[1:len(fruit)-1])

anan
ppl
trawberr
iw

**- Convertir les deux listes vers dictionnaire comme suit : {'Ten': 10, 'Twenty': 20, 'Thirty': 30}**

In [18]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [19]:
res = dict()  # or {}

for i in range(len(keys)):
    res[keys[i]] = values[i]

print(res)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Soit le dictionnaire d :** 

**- Afficher la note nlp de l’étudiant ABC.** 

**- Ajouter à tous les étudiants de d la clé semester ayant 2 comme valeur. Afficher d.**

**- Sauvegarder le dictionnaire student1 de d dans une nouvelle variable. Mettre les clés dans un set et les valeurs dans une liste séparés.**

In [20]:
d = {
    "class": {
        "student1": {
            "name": "XYZ",
            "marks": {
                "nlp": 15,
                "ml": 17
            }
        },
        "student2": {
            "name": "ABC",
            "marks": {
                "nlp": 16,
                "ml": 18
            }
        }
    }
}

In [21]:
d["class"]['student1']['marks']['nlp']

15

In [22]:
for stud in d["class"].keys():
    print(d["class"][stud])
    d["class"][stud]["semester"] = 2
    print(d["class"][stud])

{'name': 'XYZ', 'marks': {'nlp': 15, 'ml': 17}}
{'name': 'XYZ', 'marks': {'nlp': 15, 'ml': 17}, 'semester': 2}
{'name': 'ABC', 'marks': {'nlp': 16, 'ml': 18}}
{'name': 'ABC', 'marks': {'nlp': 16, 'ml': 18}, 'semester': 2}

In [23]:
print(d)

{'class': {'student1': {'name': 'XYZ', 'marks': {'nlp': 15, 'ml': 17}, 'semester': 2}, 'student2': {'name': 'ABC', 'marks': {'nlp': 16, 'ml': 18}, 'semester': 2}}}

In [24]:
stud1 = d["class"]['student1']
print(stud1)

{'name': 'XYZ', 'marks': {'nlp': 15, 'ml': 17}, 'semester': 2}

In [25]:
l = []
s = set()

for k,v in stud1.items():
    s.add(k)
    l.append(v)

print(s, l)

{'semester', 'marks', 'name'} ['XYZ', {'nlp': 15, 'ml': 17}, 2]